<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup_Form</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="saveuser" method="post">
    <fieldset>
        <label for="">Name:</label>
        <input type="text" name="uName" id="">
    </fieldset>
    <fieldset>
        <label for="">Email:</label>
        <input type="email" name="uEmail" id="">
    </fieldset>
    <fieldset>
        <label for="">Password</label>
        <input type="password" name="uPassword" id="">
    </fieldset>
    <button type="submit">Submit</button>
    </form>
</body>
</html>